<div id="profile" *ngIf="!editPost">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="width: 19rem;">
                <!-- if change password not enabled -->
                <div *ngIf="!changePass" style="text-align: center;" class="card-body">
                    <button class='btn btn-outline-primary' aria-label="back" (click)="editPosts()"
                        style="float: left;">Edit Posts</button>
                    <button class='btn btn-outline-info' routerLink="/profile" aria-label="back"
                        style="float: right;">Back</button>
                    <br>
                    <br>
                    <br>
                    <div class="profile-picture">
                        <img [src]="profile.avatarUrl" alt='profile picture'
                            style="border-radius: 50%; width: 8rem; height: 8rem; " aria-label="profile picture">
                    </div>
                    <br>
                    <p class="card-username">User: {{ profile.username }}
                        <br>
                    </p>
                    <p class="card-email">Email: {{ profile.email }}
                    </p>
                    <hr>
                    <button *ngIf="!choosedPicture" type="button" aria-label="change password"
                        class="btn btn-md btn-outline-primary" (click)="changePassword()">Change password</button>
                    <br>
                    <br>
                    <button *ngIf="!choosedPicture" class="btn btn-outline-primary" type="button"
                        (click)="filePicker.click()">
                        Change Your Avatar</button>
                    <input type="file" accept="image/png, image/jpeg" #filePicker (change)="onImagePicked()"
                        style="width: 0em; height: 0em;">
                    <div class=" image-preview" *ngIf="imagePreview != '' && imagePreview">
                        <img [src]="imagePreview" aria-label="image preview">
                    </div>
                    <button *ngIf="choosedPicture" class="btn btn-outline-primary" type="submit"
                        (click)="onImageSubmit()">Upload</button>
                    <br>
                </div>

                <!-- if change password enabled and need verification -->
                <div *ngIf="changePass && !passedVeri" class="card-body">
                    <br>
                    <div class="form-group">
                        <label for="password">
                            Input your current password:
                        </label>
                        <label for="inputPassword" class="sr-only">current Password</label>
                        <input name="password" [(ngModel)]='password' type="password" id="inputPassword"
                            class="form-control" placeholder="Password" required>
                    </div>
                    <br>
                    <button class='btn btn-outline-info' routerLink="/profile" aria-label="cancel">Cancel</button>
                    <button type="button" aria-label="Confirm" class="btn btn-outline-primary" style="float: right;"
                        (click)="passwordVeri()">Confirm</button>
                </div>
                <!-- if change password enabled and passed verification -->
                <div *ngIf="changePass && passedVeri" class="card-body">
                    <br>
                    <div class="form-group">
                        <label for="newPass1">
                            Input your new password:
                        </label>
                        <!-- <input name="newPass1" [(ngModel)]='newPass1' type="password" id="newPass1"
                                class="form-control" placeholder="New Password" required #newPass="ngModel">
                               -->
                        <input name="newPass1" class="form-control" type="password" required minlength="6"
                            maxlength="30" [(ngModel)]="newPass1" placeholder="New Password" id="newPass1"
                            #newPass="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="newPass2">
                            Repeat your new password:
                        </label>
                        <label for="repeatPassword" class="sr-only">Repeat Password</label>
                        <input name="newPass2" [(ngModel)]='newPass2' type="password" id="newPass2" class="form-control"
                            placeholder="Repeat Password" required>
                    </div>
                    <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert alert-danger">
                        <div *ngIf="newPass.errors.required">Password is required.</div>
                        <div *ngIf="newPass.errors.minlength">Password must be at least 6 characters long.</div>
                        <div *ngIf="newPass.errors.maxlength">Password must not exceeds 30 characters long</div>
                    </div>
                    <br>
                    <button class='btn btn-outline-info' routerLink="/profile" aria-label="cancel">Cancel</button>
                    <button type="button" aria-label="Update" class="btn btn-outline-primary" style="float: right;"
                        (click)="onSubmit()" *ngIf="!newPass.invalid">Update</button>
                    <button *ngIf="newPass.invalid" class="btn btn-outline-primary" style="float: right;"
                        disabled>Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<mat-accordion multi="true" *ngIf="posts.length > 0 && editPost">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{ post.title}}
        </mat-expansion-panel-header>
      Price: ${{ post.price}}<br>
      Description: {{ post.content}}<br>
      Category: {{ post.category}}<br>
      Condition: {{ post.condition}}<br>
      Tags: {{ post.tags.join(", ")}}<br>
      Status: {{ post.status}}<br>
        <mat-action-row>
            <button mat-button color="primary" (click)="onAvailable(post)">Mark as Available</button>
            <button mat-button color="accent" (click)="onPending(post)">Mark as Pending</button>
            <button mat-button color="warn" (click)="onSold(post)">Mark as Sold</button>
            <a mat-button color="primary" [routerLink]="['post-edit', post.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
            <button mat-button color="secondary" (click)="cancelEditPosts()">Back</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
