mat-card {
  width: 80%;
  margin: auto;

}

textarea, mat-form-field{
  width: 100%;
  margin-bottom: 1rem;
}
mat-slider {
  width: 100%;
}
.half-width {
  width: 50%;
}
.editImages{
  border-radius: 90%;
  height: 10% !important;
  width: 10% !important;
}
.editImages:hover{
  border-color: aqua;
}