<div id="profile">
  <br>
  <br>
  <!-- <div class="topButtons" *ngIf="(this.uid$ | async) != this.authModule.auth.currentUser.uid">
      <button class="btn btn-posts btn-primary col" (click)="Posts();">Posts</button>
      <br>
    </div> -->
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">
          <div class="card-body" style="text-align: center;">
            <button *ngIf="currentUserPage" type="button" routerLink="/profileEdit" aria-label="Edit profile"
              class="btn btn-outline-primary" style="float: right;">Edit</button>
            <br>
            <br>
            <div class="profile-picture">
              <img [src]="profile.avatarUrl" alt='profile picture'
                style="border-radius: 50%; width: 9rem; height: 9rem; " aria-label="profile picture">
            </div>
            <br>
            <hr>
            <div>
              <p class="card-username">Username: {{ profile.username }}
                <br>
              </p>
              <p class="card-email">Email: {{ profile.email }}
                <br>
              </p>
            </div>
            <button *ngIf="currentUserPage && !choosedPicture" class="btn btn-outline-primary" type="button"
              (click)="filePicker.click()">
              Change Your Avatar</button>
            <input type="file" accept="image/png, image/jpeg" #filePicker (change)="onImagePicked()" style="width: 0em; height: 0em;">
            <div class=" image-preview" *ngIf="imagePreview != '' && imagePreview" >
              <img [src]="imagePreview">
            </div>
            <button *ngIf="currentUserPage && choosedPicture" class="btn btn-outline-primary" type="submit"
              (click)="onImageSubmit()">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<mat-accordion multi="true" *ngIf="posts.length > 0 && currentUserPage">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title}}
    </mat-expansion-panel-header>
    Price: ${{ post.price}}<br>
    Description: {{ post.content}}<br>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['post-edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>