
input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 0.5rem 0;
}

.image-preview img{
  height: 100%;
}
.carousel{
  margin: auto;
  
}
.detailcard{
width: 75% !important;
}