<footer class="footer">
    <div class="top">
      <div class="container">
        <div class="twitter">
          <div class="icon"><i class="fa fa-twitter"></i><span></span></div>
          <div id="tweets" class="flexslider"></div>
        </div> <!-- end .twitter -->
        <div class="row">
          <div class="col-sm-4">
            <h5>About Us</h5>
            <p>Lorem ipsum dolor sit amet, consectetur  some dymm adipiscing elit. Nam turpis quam, sodales in text she ante sagittis, varius efficitur mauris.</p>
            <hr />
            <div class="iconbox-left">
              <div class="icon"><i class="fa fa-map-marker"></i></div> <!-- end .icon -->
              <div class="content"><p>3015 Grand Ave, Coconut Grove, Merrick Way, FL 12345</p></div> <!-- end .content -->
            </div> <!-- end .iconbox-left -->
            <div class="iconbox-left">
              <div class="icon"><i class="fa fa-envelope"></i></div> <!-- end .icon -->
              <div class="content"><p>info@wheels-control.com</p></div> <!-- end .content -->
            </div> <!-- end .iconbox-left -->
            <div class="iconbox-left">
              <div class="icon"><i class="fa fa-phone"></i></div> <!-- end .icon -->
              <div class="content"><p>123-456-7890</p></div> <!-- end .content -->
            </div> <!-- end .iconbox-left -->
          </div> <!-- end .col-sm-4 -->
          <div class="col-sm-4">
            <h5>Featured Deals</h5>
            <div class="featured-deals">
              <a href="details.html" class="clearfix">
                <h5>Porsche</h5>
                <span class="price">$80,000</span>
              </a>
              <p>Nam liber tempor cum soluta nobis eleife wheelers as option congue nihil…</p>
            </div> <!-- end .featured-deals -->
            <div class="featured-deals">
              <a href="details.html" class="clearfix">
                <h5>Benz</h5>
                <span class="price">$94,000</span>
              </a>
              <p>Nam liber tempor cum soluta nobis eleife wheelers as option congue nihil…</p>
            </div> <!-- end .featured-deals -->
          </div> <!-- end .col-sm-4 -->
          <div class="col-sm-4">
            <h5>Get in Touch</h5>
            <form action="scripts/contact.php" method="post" id="footer-contact-form" target="_blank">
              <div class="form-group">
                <input type="text" class="contact-name" name="contact-name" placeholder="Name" />
              </div> <!-- end .form-group -->
              <div class="form-group">
                <input type="email" class="contact-email" name="contact-email" placeholder="Email" />
              </div> <!-- end .form-group -->
              <div class="form-group">
                <textarea name="contact-message" class="contact-message" rows="3" placeholder="Message"></textarea>
              </div> <!-- end .form-group -->
              <div class="form-group">
                <button type="submit" class="button solid block light-blue">Send Message</button>
              </div> <!-- end .form-group -->
              <div class="contact-loading alert alert-info form-alert alert-small" role="alert">
                <span class="icon"><i class="fa fa-refresh fa-spin"></i></span>
                <span class="message">Loading...</span>
              </div>
              <div class="contact-success alert alert-success form-alert alert-small" role="alert">
                <span class="icon"><i class="fa fa-check"></i></span>
                <span class="message">Success!</span>
              </div>
              <div class="contact-error alert alert-danger form-alert alert-small" role="alert">
                <span class="icon"><i class="fa fa-exclamation-circle"></i></span>
                <span class="message">Error!</span>
              </div>
            </form> <!-- end contact-form -->
          </div> <!-- end .col-sm-4 -->
        </div> <!-- end .row -->
      </div> <!-- end .container -->
    </div> <!-- end .top -->
    <div class="bottom">
      <span class="copyright">Copyright 2015. All Rights Reserved by Automan. Designed by Theme Designer.</span>
    </div> <!-- end .bottom -->
</footer> <!-- end .footer -->
  
  <!-- jQuery -->
  <script src="assets/js/jquery-1.11.2.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Inview -->
  <script src="assets/js/jquery.inview.min.js"></script>
  <!-- google maps -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <!-- Tweetie -->
  <script src="assets/scripts/Tweetie/tweetie.min.js"></script>
  <!-- FlexSlider -->
  <script src="assets/scripts/FlexSlider/jquery.flexslider-min.js"></script>
  <!-- Owl Carousel -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Isotope -->
  <script src="assets/js/isotope.pkgd.min.js"></script>
  
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <!-- noUiSlider -->
  <script src="assets/js/jquery.nouislider.all.min.js"></script>
  <!-- Scripts.js -->
  <script src="assets/js/scripts.js"></script>
