//@import '../node_modules/bootstrap/dist/css/bootstrap.css';
/* You can add global styles to this file, and also import other style files */

$themes: (
  bright: (
      name: 'bright'
  ),
  dark:(
      name: 'dark'
  )
);

/*
* Implementation of themes
*/
$theme-map: null;
@mixin themify($themes) {
  @each $theme, $map in $themes {
      .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
      }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
* {
  @include themify($themes) {
      // custom theme to your needs. Add here
      @if themed('name') == 'bright' {
        .card {
          background-color: rgba(253, 253, 253, 0.8) !important;
          border-radius: 6px;
        }
        .card-header{
          background-color: rgba(253, 253, 253, 0.1) !important;
          border-radius: 6px;
        }
        .tagsDisplay{
          background-color: rgb(170, 35, 170);
          color: #fff;
          border-radius: 8px; 
          padding: 4px 4px;
          border-color: purple;
        }
      }
      @if themed('name') == 'dark' {
        .tagsDisplay{
          background-color: rgb(22, 145, 134);
          color: #fff;
          border-radius: 8px; 
          padding: 4px 4px;
          border-color: rgb(22, 145, 134);
        }
        .card {
          background-color: rgba(15, 15, 15, 0.7) !important;
          border-radius: 6px;
        }
        .card-header{
          background-color: rgba(15, 15, 15, 0.7) !important;
          border-radius: 6px;
        }
      }
  }
}
 // Below will effect all themes
.navbar{
    padding:0.5rem 1rem !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color:#fff !important;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn{
  border-radius: 6px;
}
.container{
  height: 100%;
  align-content: center;
}
.card-header{
  text-size-adjust: auto !important;
  text-align: center;
}

.card{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}