:host {
  display: block;
  margin-top: 1rem;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellowgreen;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
