<div class="album py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let post of posts">
        <div class="card mb-4 box-shadow">
          <!-- <div class="card-header">
              
          </div> -->
          <img class="card-img" src="assets/bright4.jpg" alt="Card image" height="170">
          <div class="card-body">
              <h6 class="text-theme">{{ post.title}}</h6>
            <h5> ${{ post.price}} </h5>
            <span *ngFor="let tags of post.tags" class=" tagsDisplay">
                #{{tags}}
            </span> <br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="status">
                {{post.status}}
              </div>
              <small class="text-muted">Owner:<a href="/profile/{{post.owner}}">{{ post.owner}}</a> </small>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts" (opened)="incrementViewCount(post)">
      <mat-expansion-panel-header>
        {{ post.title}}
      </mat-expansion-panel-header>
      Price: ${{ post.price}}<br>
      Description: {{ post.content}}<br>
      Category: {{ post.category}}<br>
      Condition: {{ post.condition}}<br>
      Tags: {{ post.tags.join(", ")}}<br>
      Status: {{ post.status}}<br>
      Owner: <a href="/profile/{{post.owner}}">{{ post.owner}}</a><br>
      👁{{ post.viewCount}} views<br>
      <mat-action-row>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion> -->
