<p>post list page</p>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title}}
      </mat-expansion-panel-header>
      Price: ${{ post.price}}<br>
      Description: {{ post.content}}<br>
      Posted By: {{ post.owner}}
      <mat-action-row>
        <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
  </mat-expansion-panel >
</mat-accordion>

