<div class="container d-flex justify-content-center h-100 text-theme" style=" margin-top: 7%;">
  <div class="p-2">
    <div class="card">
      <div class="card-header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <p>No worries! Just type in the email you registered to
            BoilerList.<br> We will send a temperary password to your email!</p>
          <input class="form-control" id="email" aria-label="email" type="email" [(ngModel)]="email"
            placeholder="Enter your email address"#em="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@purdue.edu" required email>
            <div *ngIf="em.invalid && (em.dirty || em.touched)" class="alert alert-danger" >
                <div *ngIf="em.errors.required">Email Address is required.</div>
                <div *ngIf="em.errors.email">Please enter a valid email address!</div>
                <div *ngIf="em.errors.pattern && !em.errors.email">Email Domain must be Purdue!</div>
            </div>
          </div>
        <button class="btn btn-primary" type="submit" (click)="sendEmail()" [disabled]="em.invalid">Send</button>
        <div>
          <br>
          <a routerLink="/login" class="aqua-link" style="text-decoration: underline;" aria-label="back to login page">Back to login</a>
        </div>
      </div>
    </div>
  </div>
</div>
